@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #040404;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23101010' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%231c1c1c' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23282828' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23343434' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23404040' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%234c4c4c' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23585858' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.barraNav {
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: rgb(83, 82, 82);;
    align-items: center;
    justify-content: right;
    justify-content: space-between;
    display: inline-flex;
    box-shadow: 1px gray;
    position: fixed;
    transition: ease-in-out;
    border-bottom: lightgray;
}

.barraItems {
    list-style: none;
    display: inline-flex;
}

.item {
    color: rgb(26, 25, 25);
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    font-size: 16px;
}

.a {
    text-decoration: none;
    color: rgb(26, 25, 25);
}


.containerPai {
    padding: 100px 100px 50px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    overflow:hidden;
    height: auto;
    border-radius: 3px;
    text-align: left;
  }

  .containerFilho {
    width: 100%;
    margin-right: 450px;
    margin-top: 600px;
    background: rgb(83, 82, 82);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    float: none;
  }

  .logo{
    align-items: center;
    text-align: center;
  }

  .log {
    font-size: 25px;
    text-align: center;
  }

  form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 1em;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
  }

  form button {
    border: none;
    background: #333334;
    color: white;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
  }
  
  form button :hover {
    background-color: #4f5151;
  }

a {
  text-decoration: none;
  color: white;
}